<h1>LIST</h1>
<ol>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %> </li>
  <% end %>
</ol>
<%= link_to "Add a movie", new_list_path %>
 <%# <%= link_to "Create a new task", tasks_path %>
